{% extends 'base.html' %}

{% load form_helpers %}

{% block page_title %}{{ block.super }} &bull; RSVP{% endblock %}

{% block page_class %}{% endblock %}

{% block primary %}
    <h1>RSVP</h1>
    <p>In order to help us organise a great wedding ceremony and reception for everyone, we'd appreciate it if you'd take a minute to RSVP using this form.</p>
    <form id="rsvp-form" action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="section">
            <label for="{{ form.first_name.auto_id }}" class="input {{ classes }}">{{ form.first_name.label }}:</label>
            <div class="column align-left{% if form.first_name.errors %} error{% endif %}">
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </div>
            <label for="{{ form.last_name.auto_id }}" class="input {{ classes }}">{{ form.last_name.label }}:</label>
            <div class="column align-left{% if form.last_name.errors %} error{% endif %}">
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </div>
            <label for="{{ form.email.auto_id }}" class="input {{ classes }}">{{ form.email.label }}:</label>
            <div class="column align-left{% if form.email.errors %} error{% endif %}">
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <label for="{{ form.phone.auto_id }}" class="input {{ classes }}">{{ form.phone.label }}:</label>
            <div class="column align-left{% if form.phone.errors %} error{% endif %}">
                {{ form.phone }}
                {{ form.phone.errors }}
            </div>
            <label for="{{ form.address.auto_id }}" class="input {{ classes }}">{{ form.address.label }}:</label>
            <div class="column align-left{% if form.address.errors %} error{% endif %}">
                {{ form.address }}
                {{ form.address.errors }}
            </div>
            <label for="{{ form.invite_code.auto_id }}" class="input {{ classes }}">{{ form.invite_code.label }}:</label>
            <div class="column align-left{% if form.invite_code.errors %} error{% endif %}">
                {{ form.invite_code }}
                {{ form.invite_code.errors }}
            </div>
        </div>
        <button name="submit" id="submit" class="button" type="submit" value="Submit">Submit</button>
    </form>
{% endblock %}