{% load flatpages utils_tags %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
 
<html lang="en"> 
<head> 
    
<!-- Meta Tags --> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta name="title" content="Tim and Mai-Linh's Wedding"> 
<meta name="keywords" content=""> 
<meta name="description" content=""> 
<meta name="author" content="Tim Fletcher"> 
 
<!-- Favicon --> 
<link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/x-icon"> 
 
<!-- CSS --> 
<link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" type="text/css"> 
 
<!-- Scripts -->
{% if debug %}
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
    {# Put in local fonts here?? #}
{% else %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% endif %}
<script type="text/javascript" src="http://use.typekit.com/drc7uiw.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>


{% block extra_js %}{% endblock %}
 
<!-- Page Title --> 
<title>{% block page_title %}East Meets West{% endblock %}</title>
 
</head> 
<body class="{% block page_class %}home{% endblock %}">
<!--[if IE]><p style="color: red; text-align: center; margin-top: 10px">You're using Internet Explorer. This website uses technologies that Internet Explorer does not support but pretty much every other browser does support. Do yourself and the Internet a favour and install a better browser.</p><![endif]--> 
<div id="container"> 
    <div id="primary">
        {% block primary %}{% endblock %}
    </div>
    <div id="secondary">
        <div id="logo">
            <h1>East meets West</h1>
            <span class="tagline">Tim and Mai-Linh get it on</span>
        </div>
        <ul id="nav">
            <li>{% ifequal request.META.PATH_INFO '/' %}<span>Home</span>{% else %}<a href="{% url homepage %}">Home</a>{% endifequal %}</li>
            {% get_flatpages '/info/' as info_pages %}
            <ul>
                <li><a {% active request "/news/" %}href="/news/">News</a></li>
                {% for info_page in info_pages %}
                    <li>
                        {% ifequal flatpage.url info_page.url %}
                            <span>{{ info_page.title }}</span>
                        {% else %}
                            <a href="{{ info_page.url }}">{{ info_page.title }}</a>
                        {% endifequal %}
                    </li>
                {% endfor %}
            </ul>
            <li>{% ifequal request.META.PATH_INFO '/guests/register/' %}<span>RSVP</span>{% else %}<a href="{% url guests_register %}">RSVP</a>{% endifequal %}</li>
            <li>{% ifequal request.META.PATH_INFO '/guestbook/' %}<span>Guestbook</span>{% else %}<a href="{% url guestbook_guestbook %}">Guestbook</a>{% endifequal %}</li>
            <li>{% ifequal flatpage.url '/contact/' %}<span>Contact</span>{% else %}<a href="/contact/">Contact</a>{% endifequal %}</li>
        </ul>
        {% block secondary %}
            <img class="photo size2 inline" src="{{MEDIA_URL}}img/random/tim-mai-linh-{% random_number %}.jpg" />
        {% endblock %}
    </div>
</div>
<div id="footer">
    <span>{% block footer %}A maitim production{% endblock %}</span>
</div>
</body> 
</html>