{% extends 'base.html' %}

{% load blog_tags %}

{% block primary %}
    <img class="photo size1" src="{{MEDIA_URL}}img/tim-mai-linh-67.jpg" />
    {% get_latest_entries 1 as articles %}
    {% for article in articles %}
        <div id="home-news">
            <h2><a href="{% url home_index %}">Latest News</a></h2>
            <h3><a href="#">{{ article.title }}</a></h3>
            <span class="meta">{{ article.created|date:"jS F Y" }}</span>
            {{ article.lead_in }}
        </div>
    {% endfor %}
{% endblock %}

{% block secondary %}
    <img class="photo size2 inline" src="{{MEDIA_URL}}img/tim-mai-linh-67.jpg" />
{% endblock %}