{% extends 'base.html' %}

{% load form_helpers %}

{% block primary %}

    {# can I do this in one line? #}
    {% ifequal request.session.guest.attending_ceremony 'N' %}
        {% ifequal request.session.guest.attending_reception 'N' %}
            <p>Sorry to hear you're not able to attend. We understand completely!</p>
            <p>We'd really like it if you could sign our guest book though. Please!</p>
        {% else %}
            <p>Great! We can't wait to see you there!</p>
        {% endifequal %}
    {% endifequal %}
{% endblock %}